{% extends 'main.html' %}

{% block content %}

{% if page == 'login'%}
   <div>
     <form action="" method="post" autocomplete="off">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">

        <input type="submit" value="login">
     </form>

     <p>haven`t signed up yet?</p>
     <a href="{% url 'register' %}">Sign up</a>

   </div>
{% else %}   
   <div>
      <form action="" method="post" autocomplete="off">
         {% csrf_token %}
         {{form.as_p}}
         <input type="submit" value="register">
      </form>
      <p>Already have an account?</p>
     <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}

{% endblock content%}